body{
  position: relative !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--theme-background)!important;
  color: var(--theme-heading)!important;
}


.notion-header__cover.no-cover{
  display: none !important;
}

.notion-header__title{
  display: none !important;
}

p.notion-text__content{
  font-weight: 500 !important;
  font-size: 1.125rem  !important;
  color: var(--theme-p-color)!important;
  padding-bottom: 1.5rem !important;
}

//quote
.notion-quote{
  border-inline-start: calc(1px + 2px) solid var(--theme-btn) !important;
  font-weight: 500 !important;
  font-size: 1.125rem  !important;
  color: var(--theme-p-color)!important;
}

//callout
.bg-gray-light.notion-callout.notion-callout{
  border-radius: 5px !important;
  background-color: var(--theme-btn) !important;
  color: var(--theme-background) !important;
  display: inline-flex !important;
  margin-top: .5rem !important;
  margin-bottom: .5rem !important;
  padding: 35px 60px !important;

}

.notion-callout__content{
  margin-inline-start: 0 !important;
}

.notion-callout__icon{
  display: none !important;
}

//highlights
.highlighted-background{
  padding: 2px 5px !important;
  border-radius: 5px !important;
}

//bullot points
.notion-bulleted-list{
  font-weight: 500 !important;
  font-size: 1.125rem !important;
  color: var(--theme-heading);
}

/*.notion-text__content{
  margin: 1rem 0 !important;
}*/

/*headings*/
h1.notion-heading{
  font-size: 2.5rem !important;
  font-weight: 400 !important;
  color: var(--theme-p-color) !important;
  max-width: 80% !important;
  margin-top: .5rem !important;
  margin-bottom: .5rem !important;
}

h1.notion-heading strong{
  color: var(--theme-heading)!important;
  font-size: 3.75rem !important;
  line-height: 3.5rem !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}

h2.notion-heading{
  font-size: 2.5rem !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}

h3.notion-heading{
  font-size: 1.875rem !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}

/*hero button*/
.notion-text p.notion-text__content span.notion-semantic-string span strong a.notion-link{
  background: var(--theme-heading)!important;
  padding: 0.6875rem 1.75rem 0.725rem 1.75rem !important;
  border-bottom: none !important;
  color: rgb(252, 252, 252) !important;
  border-radius: 5rem !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  line-height: 1 !important;
  display: inline-block !important;
  -webkit-transition: background 0.3s 0s ease-in-out !important;
  -moz-transition: background 0.3s 0s ease-in-out !important;
  -o-transition: background 0.3s 0s ease-in-out !important;
  transition: background 0.3s 0s ease-in-out !important;
}

a:hover{
  color: var(--theme-btn) !important;
}

.notion-text p.notion-text__content span.notion-semantic-string span strong a.notion-link:hover{
  background: var(--theme-btn) !important;
  border: 2px rgb(252, 252, 252) solid !important;
  transition: background 0.3s 0s ease-in-out !important;
  box-sizing: border-box !important;
  margin: -2px !important;
}

/*hero link*/
.notion-text p.notion-text__content span.notion-semantic-string span em a.notion-link {
  font-style: normal !important;
  font-weight: 500 !important;
  color: var(--theme-heading)!important;
  transition: all 0.2s ease-in-out !important;
  margin-left: 0.5rem !important;
}

.notion-property.notion-property__text.property-51665e78{
  border-bottom: none !important;
  color: var(--theme-heading)!important;
  font-size: 1.125rem !important;
  font-weight: 500 !important;
  line-height: 1 !important;
  display: inline-block !important;
  margin-top: 20px !important;
}

.notion-semantic-string .link{
  border-bottom: 0 !important; 
  opacity: 1 !important;
}
.notion-semantic-string .link:hover{
  color: var(--theme-btn) !important;
}

.notion-link{
  color: var(--theme-heading) !important;
}

.notion-image.page-width{
  width: 100% !important;
  max-width: 100% !important;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
}

.notion-image {
  align-self: auto !important;
}


/*columns design*/
.notion-column-list{
  align-items: flex-start !important;
  margin-top: 2rem;
  margin-bottom: 3rem;

}

.notion-collection-card__property .notion-property__url{
  background: var(--theme-heading)!important;
  padding: 0.6875rem 1.75rem 0.725rem 1.75rem !important;
  border-bottom: none !important;
  color: var(--theme-background) !important;
  border-radius: 5rem !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  line-height: 1 !important;
  display: inline-block !important;
  margin-top: 20px !important;
}

/*Client Section*/

.notion-collection.inline.collection-2f78151e9a9e485fbbf3aa91bbee0445{
  margin-top: 2rem !important;
}
.notion-collection__header-wrapper{
  margin-bottom: 0 !important;
}

.notion-collection-gallery{
  display: block !important;
  flex-direction: column !important;
  gap: 1.5rem !important;
  border-top: none !important;
}

.notion-collection-gallery.large{
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
  border-bottom: 1px solid rgb(233, 233, 231) !important;
}

.notion-collection-gallery>.notion-collection-card.gallery{
  display: flex !important;
  flex-direction: row !important;
  gap: 3rem !important;
  align-items: center !important;
  position: relative !important;
}

.notion-collection-card.gallery>a::after{
  color: var(--theme-btn) !important;
}

.notion-collection-card.gallery:nth-child(even){
  flex-direction: row-reverse !important;
}

.notion-collection-card {

  flex-basis:100% !important;
  font-size: 20px !important;
  margin-bottom: 150px !important;
  box-shadow: none !important;
  background: 0 0 !important;
  border-radius: 0px !important;
}

.notion-collection-card__content.no-title{
  width: 100% !important;
  /*padding: 50px !important;*/
}

.notion-collection-card__cover.large{
  max-height: 25.5rem !important;
  height: 25.5rem !important;
  border-radius: 5px !important;
}

.notion-link.notion-collection-card__anchor a:hover{
  color: var(--theme-btn) !important;
}


.notion-property.notion-property__text.property-57744762{
  font-size: 1.125rem !important;
  font-weight: 500 !important;
  line-height: 1.5rem !important;
  color: var(--theme-p-color) !important;

}

.gallery .notion-collection-card__property .notion-semantic-string{
  white-space: pre-wrap !important;
}

/*card title*/
.notion-property.notion-property__text.property-7e5e4d3a{
  font-weight: 700 !important;
  font-size: 1.875rem !important;
  margin-bottom: 15px !important;
  line-height: 2.2rem !important;
  text-transform: uppercase !important;
}

.medium>.notion-collection-card__property-list:last-child:hover{
  color: var(--theme-btn) !important;
}

.notion-property.notion-property__text.property-51665e78:hover{
    color: var(--theme-btn) !important;
}

.notion-property.notion-property__select.property-5d666a67{
  margin-bottom: 20px !important;
}


.notion-column{
  padding-top: 20px 0 !important;
}

.super-content{
  display: flex !important;
  /*max-width: 1440px !important;*/
  max-width: 1200px !important;
  margin: 0 auto !important;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

/*Blog Section*/

.notion-collection.inline.collection-d6309c8cebef4cb7b8c744970b459cf0{
  margin-top: 2rem !important;
  margin-bottom: 2.25rem !important;
}

.notion-collection-gallery.small > .notion-collection-card.gallery{
  display: block !important;
  margin-bottom: 0 !important;
}

.notion-collection-gallery.small > .notion-collection-card{
  margin-bottom: 0 !important;
}

.notion-collection-gallery.small{
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
}

.notion-collection-card__cover.small{
  border-radius: 5px !important;
}

.notion-collection-card__content{
  padding: 0 !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  line-height: 1.5rem !important;
}

.notion-property.notion-property__text.property-5a52786a{
  color: var(--theme-p-color) !important;
  font-size: 1rem !important;
}

.notion-collection-card .notion-property__title{
  padding: 0 !important;
  font-size: 1.4rem !important;
  line-height: 2.5rem !important;
  font-weight: 700 !important;
}

.small>.notion-collection-card.gallery:hover{
  color: var(--theme-btn) !important;
}

.notion-collection-card .notion-property__title::before{
  color: var(--theme-heading) !important;
}

.notion-collection-card .notion-property__title:hover{
  color: var(--theme-btn) !important;
}


.notion-property__title .notion-semantic-string{
  padding: 1rem 0 !important;
}

.notion-collection-card .notion-property__title .notion-property__title__icon-wrapper{
  display: none !important;
}

.notion-header__content.no-cover.has-icon-image .notion-header__title-wrapper{
  display: none !important;
}

//callouts

.notion-callout.bg-red-light.border{
  display: none !important;
}

//toggle
.notion-toggle__summary{
  display: none !important;
}
@media (max-width:1080px){
  .notion-column-list{
    display: block !important;
  }
  .notion-column[style]{
    width: 100% !important;
  }
}

@media (max-width:746px){
  .notion-collection .notion-collection-table{
    font-size: 1rem !important;
  }

  .notion-text p.notion-text__content span.notion-semantic-string span a.notion-link .link{
    margin-top: 2rem !important;
    display: block !important;
  }

}

@media only screen and (max-width: 50em){
  h1.notion-heading strong{
    font-size: 3rem !important;
  }

  h1.notion-heading{
    max-width: 100% !important;
  }

  .notion-semantic-string{
    line-height: 1.5rem !important;
    white-space: unset !important;
    gap: .5rem !important;
  }

  .notion-collection-gallery > .notion-collection-card.gallery{
    display: block !important;
  }

  .notion-property.notion-property__text.property-7e5e4d3a{
    padding: 1rem 0 !important;
  }

  /*.gallery .notion-collection-card__property .notion-semantic-string{
    overflow: visible !important;
    line-height: 2.5rem !important;
  }*/

  .notion-collection-card__content{
    padding: 0 !important;
  }

  .notion-collection-gallery.small{
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .bg-gray-light.notion-callout.notion-callout{
    padding: 30px 30px !important;
  }
}