.notion-collection .notion-collection-table__cell .notion-link{
  font-size: 1.1rem !important;
  transition: all 0.2s ease-in-out !important;
  border: 0 !important;
  color: rgb(155, 154, 151) !important;
}
.notion-collection .notion-collection-table__cell .notion-link a:hover{
  color: pink !important;
}


.notion-collection-table{
  font-size: 1rem !important;
  font-weight: 500 !important;
  color: black !important;
  border-top: none !important;
}

.notion-collection-table__head{
  display: none !important;
}
.notion-collection-table td, .notion-collection-table th{
  border: 0 !important;
}

.notion-collection-table__cell.title.no-click{
  display: none !important;
}