/*
.super-navbar[style] {
  position: relative !important;
}*/

.super-navbar{
  max-width: 1342px !important;
  margin: 0 auto !important;
  background: var(--theme-background) !important;
  text-align: right !important;
  display: flex !important;
  /*top: 2.45rem !important;*/
  align-items: center !important;
}

.super-navbar__content{
  padding: 0 !important;
}

.super-navbar__item{
  opacity: 1 !important;
  font-size: 1.125rem !important;
  color: var(--theme-heading) !important;
}
 /*CTA btn*/
.super-navbar__cta{
  padding: 0.6875rem 1.75rem 0.725rem 1.75rem !important;
  -webkit-transition: background 0.3s 0s ease-in-out !important;
  -moz-transition: background 0.3s 0s ease-in-out !important;
  -o-transition: background 0.3s 0s ease-in-out !important;
  transition: background 0.3s 0s ease-in-out !important;
}
.super-navbar__cta:hover{
  background: var(--theme-btn) !important;
  opacity: 1 !important;
}

@media (max-width:1248px){
  .super-navbar{
  padding: 0 70px !important;
  }
}
@media (max-width:548px){
  .super-navbar__logo{
    padding: 0 16px !important;
  }
}

@media only screen and (max-width: 50em){
  .super-navbar{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}