

/*3.1*/
.notion-root.max-width{
  max-width: 1200px !important;
}

.super-navbar{
  /*3.1*/
  max-width: 1200px !important;
  height: 70px !important;
  margin-top: 15px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  background: var(--theme-background) !important;
  padding-left: var(--padding-left) !important;
  padding-right: var(--padding-right) !important;
  /*---End*/
  text-align: right !important;
  display: flex !important;
  align-items: center !important;
}

.super-navbar__content{
  background: var(--theme-background) !important;
  padding: 0 !important;
}

.super-navbar__item{
  opacity: 1 !important;
  font-size: 1.125rem !important;
  color: var(--theme-heading) !important;
}
 /*CTA btn*/
.super-navbar__cta{
  padding: 0.6875rem 1.75rem 0.725rem 1.75rem !important;
  -webkit-transition: background 0.3s 0s ease-in-out !important;
  -moz-transition: background 0.3s 0s ease-in-out !important;
  -o-transition: background 0.3s 0s ease-in-out !important;
  transition: background 0.3s 0s ease-in-out !important;
}
.super-navbar__cta:hover{
  background: var(--theme-btn) !important;
  opacity: 1 !important;
}

@media (max-width:1500px){
  .super-navbar{
    padding: 0 3.8rem !important;
  }
}

@media (max-width:1248px){
  .super-navbar{
  padding: 0 70px !important;
  }
}
@media (max-width:548px){
  .super-navbar__logo{
    padding: 0 16px !important;
  }
}

@media only screen and (max-width: 50em){
  .super-navbar{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}