html{
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(241, 241, 241) !important;
  color: rgb(18, 53, 53) !important;
}