html{
  box-sizing: border-box !important;
  font-size: 100% !important;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  margin: 0 !important;
  padding: 0 !important;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color)!important;
  color: var(--text-color)!important;
}

h2.notion-heading{
  font-size: 45px !important;
  font-weight: 700 !important;
}