html{
  box-sizing: border-box !important;
  font-size: 100% !important;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  margin: 0 !important;
  padding: 0 !important;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color)!important;
  color: var(--text-color)!important;
}

.notion-header__cover.no-cover{
  display: none !important;
}

.notion-header__title{
  display: none !important;
}

p.notion-text__content{
  font-size: 14px !important;
  font-weight: 500 !important;
  color: rgb(184, 184, 184);
}

h2.notion-heading{
  font-size: 45px !important;
  font-weight: 500 !important;
}

a.notion-link.link{
  background: black !important;
  padding: 0.6875rem 1.75rem 0.725rem 1.75rem !important;
  border-bottom: none !important;
  color: aliceblue !important;
  border-radius: 5rem !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 1 !important;
  display: inline-block !important;
  margin-top: 20px !important;
}

.notion-collection-gallery{
  display: flex !important;
}

.notion-collection-card {
  margin-top: 50px !important;
}

.notion-collection-card__content{
  width: 100% !important;
  padding: 50px !important;
}