
:root.light{
  --theme-background:rgb(252, 252, 252);
  --theme-heading: rgb(43, 43, 43);
  --theme-p-color: rgb(158, 158, 158);
  --theme-btn: rgb(59, 41, 190);

}


body{
  --theme-background:rgb(252, 252, 252);
  --theme-heading: rgb(43, 43, 43);
}
