
.theme-light body{
  --theme-background:rgb(252, 252, 252);
  --theme-heading: rgb(43, 43, 43);
  --theme-p-color: rgb(158, 158, 158);
  --theme-callout-heading: rgb(252, 252, 252);
  --theme-btn: rgb(59, 41, 190);
  --theme-border: rgb(233, 233, 231);
  --theme-cta-bg: rgb(43, 43, 43);
  --theme-cta-text: rgb(244 242 253);//change
  --theme-cta-border:rgb(252, 252, 252);
  --theme-link-hover: rgb(59, 41, 190);
  --theme-footnote: rgb(55, 53, 47);
  --theme-pill-orange: hsl(25, calc(54% + 9%),32%);
}


.theme-dark body{
  --theme-background:rgb(20, 20, 20);
  --theme-heading: rgb(234 234 234);
  --theme-p-color: rgb(163, 163, 163);
  --theme-callout-heading: rgb(252, 252, 252);
  --theme-btn: rgb(59, 41, 190);
  --theme-border: rgb(43, 42, 46);
  --theme-cta-bg: rgb(54 54 54);
  --theme-cta-bg-hover: rgb(59, 41, 190);
  --theme-cta-text: rgb(244 242 253);
  --theme-cta-border: rgb(20, 20, 20);
  --theme-link-hover: rgb(96, 96, 96);
  --theme-footnote: rgb(96, 96, 96);
}